#articleWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: min(95%, 70rem);
  gap: 2rem;
  padding: 5rem 1rem 3rem 1rem;
  animation: easeInEffect 500ms ease-in;
}

#imageContainer {
  display: flex;
  justify-content: center;
}

#imageContainer img {
  max-width: 50%;
  border-radius: 10px;
}

#descContainer {
  display: grid;
  gap: 1.5rem;
  max-width: 100%;
  color: var(--white);
}

#descContainer h1 {
  color: var(--sky-blue-300);
  text-align: center;
}
