#articleWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: min(90%, 70rem);
  gap: 2rem;
  padding: 5rem 2rem 3rem 2rem;
}

#imageContainer {
  display: flex;
  justify-content: center;
}

#imageContainer img {
  max-width: 50%;
  border-radius: 10px;
}

#descContainer {
  text-align: center;
  display: grid;
  gap: 1.5rem;
  max-width: 100%;
  color: var(--white);
}

#descContainer h1 {
  color: var(--sky-blue-300);
}

@media (max-width: 1000px) {
  #articleWrapper {
    flex-direction: column;
  }

  #imageContainer img {
    max-width: 100%;
  }
}
