.headline h1 {
  font-weight: 300;
}

#articleGrid {
  width: min(90%, 70rem);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

#articleGrid.active {
  grid-template-columns: repeat(3, 1fr);
}

#articleGrid.column {
  grid-template-columns: repeat(2, 1fr);
}

#articleGrid.row {
  grid-template-columns: 1fr;
}

.sort-grid {
  color: var(--white);
  display: flex;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 35px 0;
  gap: 10px;
  font-size: 35px;
}
.sort-grid i {
  cursor: pointer;
  transition: 200ms ease;
  display: flex;
}

.sort-grid i:hover {
  scale: 1.15;
  transition: 200ms ease;
}

.gridCard {
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  transition: 200ms ease;
  color: var(--dark-grey-100);
}

.gridCard:hover {
  scale: 1.05;
}

.gridCard h3 {
  font-weight: 300;
  font-size: 25px;
}

.gridCard img {
  width: min(100%, 350px);
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  background-color: hsla(222, 47%, 11%, 0.3);
}

.btnContainer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.btnContainer > button {
  border: none;
  padding: 1rem;
  width: min(80%, 500px);
  background-color: var(--sky-blue-300);
  color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  transition: 200ms ease;
}

.fa-pen-to-square {
  font-size: 40px;
  background: none;
  color: var(--sky-blue-300);
  border: none;
  cursor: pointer;
  padding-top: 10px;
  transition: 200ms ease;
}

.fa-pen-to-square:hover {
  scale: 1.4;
  transition: 200ms ease;
  background: none;
}
