.createPost-section {
  width: min(90%, 70rem);
  margin: auto;
  display: flex;
  justify-content: center;
}

#createBod {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../images/astro-inspace.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#blogPostForm {
  display: grid;
  color: var(--white);
  width: min(90%, 45rem);
  gap: 2rem;
  padding: 5rem 1rem 5rem 1rem;
  align-items: center;
  place-items: center;
}

#blogPostForm > input {
  height: 35px;
  padding: 0.5rem;
  width: 100%;
  border-radius: var(--br-10);
  border: 2px solid var(--sky-blue-300);
}

#blogPostForm > textarea {
  padding: 0.5rem;
  width: 100%;
  resize: none;
  border-radius: var(--br-10);
  border: 2px solid var(--sky-blue-300);
}

#blogPostForm label,
#blogPostForm h1,
#editForm h1 {
  color: var(--sky-blue-300);
  text-align: center;
  font-weight: 800;
}

#blogPostForm h1,
#editForm h1 {
  font-size: 72px;
}

#blogPostForm button {
  background-color: var(--sky-blue-300);
  padding: 10px;
  border: none;
  border-radius: var(--br-10);
  width: 50%;
  cursor: pointer;
  color: var(--white);
  transition: 200ms ease;
}

#blogPostForm button:hover {
  background-color: var(--sky-blue-600);
}
