.createPost-section {
  width: min(90%, 70rem);
  margin: auto;
  display: flex;
  justify-content: center;
}

#createBod {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../images/astro-inspace.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#blogPostForm {
  display: grid;
  color: var(--white);
  width: min(90%, 45rem);
  gap: 2rem;
  padding: 5rem 1rem 5rem 1rem;
  align-items: center;
  place-items: center;
}

#blogPostForm > input {
  height: 35px;
  padding: 0.5rem;
  width: 100%;
  border-radius: 10px;
}

#blogPostForm > textarea {
  padding: 0.5rem;
  width: 100%;
  resize: none;
  border-radius: 10px;
}

#blogPostForm label,
#blogPostForm h1 {
  color: var(--sky-blue-300);
  font-weight: 800;
}

#blogPostForm h1 {
  font-size: 72px;
}

#blogPostForm button {
  background-color: var(--sky-blue-300);
  height: 30px;
  border: none;
  border-radius: 10px;
  width: 50%;
  cursor: pointer;
  color: var(--white);
}

@media (max-width: 1000px) {
  #blogPostForm h1 {
    font-size: 52px;
  }
}

@media (max-width: 500px) {
  #blogPostForm h1 {
    font-size: 38px;
  }

  #createBod {
    background-image: none;
  }
}

.editSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#editForm {
  display: grid;
  width: min(90%, 70rem);
  gap: 2rem;
}
