.carousel-section {
  width: min(95%, 70rem);
  margin-inline: auto;
}

#carouselContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-150%);
  background: none;
  border: none;
  color: var(--sky-blue-300);
  font-size: 3rem;
  transition: 100ms ease;
  cursor: pointer;
}

#prev:hover,
#next:hover {
  scale: 1.05;
  transition: 100ms ease;
}

#prev {
  left: 10%;
}

#next {
  right: 10%;
}

.sliderItem {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  color: var(--sky-blue-300);
  text-wrap: nowrap;
  gap: 2rem;
}
.sliderItem h2 {
  font-weight: 300;
}

.sliderItem h2,
.sliderItem img {
  animation: easeInEffect 500ms ease-in;
}

.sliderItem img {
  max-width: 550px;
  max-height: 550px;
  margin-inline: auto;
  border-radius: 1rem;
  background: linear-gradient(
    125deg,
    rgba(9, 27, 56, 0.445) 0%,
    rgba(8, 8, 8, 0.534) 48%,
    rgba(1, 14, 46, 0.425) 100%
  );
}

.readMoreBtn {
  background-color: var(--sky-blue-300);
  color: var(--white);
  border: none;
  width: min(100%, 200px);
  margin: auto;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  transition: 200ms ease;
}

@keyframes easeInEffect {
  from {
    opacity: 0;
    scale: 0.7;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}
