.lightMode {
  background-color: var(--white);
  color: var(--dark-grey-100);
  transition: 300ms ease;
}

.lightMode > ul a,
.lightMode > ul i,
.lightMode > p {
  color: var(--sky-blue-500);
  background: none;
}

.fa-moon,
.fa-lightbulb {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .lightMode > ul a,
  .lightMode > ul i {
    color: var(--white);
  }
}

@media (min-width: 1000px) {
  .lightMode > ul {
    background: none;
  }
}
