.lightMode {
  background-color: var(--white);
  color: var(--dark-grey-100);
  transition: 300ms ease;
}

.lightMode > ul a,
.lightMode > ul i,
.lightMode > p,
.lightMode > i,
.lightMode > span {
  color: var(--sky-blue-500);
  background: none;
}

#deleteBtn.lightMode {
  color: var(--dark-grey-100);
  background-color: #eee;
}

#deleteBtn.lightMode i {
  color: var(--dark-grey-100);
}

.logo.lightMode {
  background-color: transparent;
}

.headline.lightMode {
  background-color: transparent;
}

.workTitle.lightMode {
  background: none;
  color: var(--dark-grey-100);
}

.hero-anchors a.lightMode {
  color: var(--dark-grey-100);
  background-color: #eee;
}

#loaderAnimation.lightMode {
  background-color: var(--white);
  color: var(--dark-grey-100);
}

#carouselContainer.lightMode {
  background-color: var(--white-100);
  box-shadow: 0px 8px 10px var(--card-shadow);
}

.carousel-btns.lightMode {
  background-color: var(--white-200);
  box-shadow: 0px 8px 10px var(--card-shadow);
}

.sliderItem.lightMode img,
.gridCard.lightMode img {
  background: var(--white-200);
}

.sliderItem.lightMode {
  background: none;
}
