.section-form {
  width: min(90%, 50rem);
  background-color: rgba(59, 130, 246, 0.3);
  padding: 5rem 1rem 5rem 1rem;
  border-radius: 2rem;
  text-align: center;
}

.section-form > form {
  display: grid;
  gap: 2rem;
  margin: auto;
  width: min(80%, 35rem);
}

.account-form > input,
.account-form > button {
  height: 60px;
  border-radius: 30px;
  border: none;
  padding: 1rem;
}

input::placeholder {
  opacity: 1;
  color: var(--black);
  font-size: 14px;
}

.account-form > button {
  background-color: var(--sky-blue-600);
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 17px;
  cursor: pointer;
  align-items: center;
}

.account-form > button:hover {
  background-color: var(--sky-blue-300);
}

.swap-form,
.swap-form a {
  color: white;
  padding: 1rem 0 1rem 0;
  font-weight: 300;
}

.swap-form a {
  text-decoration: none;
  font-weight: 500;
}

.form-bod {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../svg/stacked-waves-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

form h1 {
  color: var(--white);
  font-size: 50px;
  font-weight: 400;
}

input,
textarea {
  outline: none;
}

#loginInfo {
  font-size: 20px;
}
