.banner {
  height: 90vh;
  width: min(90%, 85rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  place-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.banner h1 {
  font-size: 72px;
  color: var(--sky-blue-300);
  animation: slideInLeft 1s ease-in;
}

.banner h2 {
  font-size: 42px;
  font-weight: 300;
  text-wrap: nowrap;
  animation: slideInLeft 1s ease-in;
}

.banner img {
  max-width: 100%;
  animation: slideInRight 1s ease-in;
}

@media (max-width: 1000px) {
  .banner h1 {
    font-size: 58px;
  }

  .banner h2 {
    text-wrap: wrap;
    font-size: 30px;
  }

  .banner img {
    max-width: 100%;
  }
}

@media (max-width: 588px) {
  .banner {
    grid-template-columns: 1fr;
  }
}

.banner-break {
  width: 100%;
  height: 2.5rem;
  background: radial-gradient(
    circle,
    rgba(30, 58, 138, 1) 0%,
    rgba(59, 130, 246, 1) 100%
  );
}

.headline {
  display: flex;
  justify-content: center;
  color: var(--white);
  font-size: 40px;
  padding: 1rem;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(300px);
  }

  to {
    transform: translateX(0);
  }
}

.sort-grid {
  color: var(--white);
  display: flex;
  justify-content: flex-end;
  margin: 0 0 35px 0;
  font-size: 35px;
  gap: 10px;
}

.sort-grid svg {
  cursor: pointer;
}

.sortSection {
  margin: auto;
  width: min(90%, 70rem);
  padding: 1rem;
}

@media (max-width: 1000px) {
  .sort-grid {
    display: none;
  }
}

.about-section {
  height: 50vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url("../images/astronaut-spacewalk-moon-mixed-media.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 850px) {
  .about-section {
    background-attachment: local;
  }
}

.infoBox {
  width: min(90%, 30rem);
  color: var(--white);
  background-color: rgba(59, 130, 246, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: grid;
  padding: 1rem;
  gap: 1rem;
  border-radius: 10px;
}

.infoBox i {
  font-size: 35px;
}

.infoBox p {
  font-size: 15px;
  font-weight: 300;
}

.infoBox a {
  text-decoration: none;
  color: var(--white);
  background-color: var(--sky-blue-300);
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  transition: 200ms ease;
}

.infoBox a:hover {
  background-color: var(--sky-blue-600);
  transition: 200ms ease;
}
