nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  position: fixed;
  height: 85px;
  width: 100%;
  background-color: var(--dark-grey-100);
  align-items: center;
  z-index: 100;
  transition: 500ms ease;
}

nav > ul {
  display: flex;
  gap: 1.5rem;
}

.logo {
  display: flex;
  color: var(--white);
  gap: 0.5rem;
  z-index: 101;
  align-items: center;
  text-decoration: none;
  transition: 200ms ease;
}

.logo:hover {
  scale: 1.1;
  transition: 200ms ease;
}

.logo i {
  font-size: 53px;
}

.logo span {
  font-size: 43px;
  font-weight: 300;
}

ul {
  list-style: none;
  font-size: 18px;
  align-items: center;
}

ul i {
  color: white;
}

ul a {
  color: white;
  text-decoration: none;
}

ul li:hover {
  transform: scale(1.2);
  transition: 200ms ease;
}

ul li {
  transition: 200ms ease;
}

#burger {
  color: var(--sky-blue-300);
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.fa-moon,
.fa-cloud-sun {
  cursor: pointer;
  transition: 200ms ease;
}

#signOutBtn {
  display: none;
  font-size: 18px;
  border: none;
  background-color: var(--sky-blue-300);
  color: var(--white);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

#signOutBtn:hover {
  background-color: var(--sky-blue-600);
}

#createInNav {
  display: none;
}
