:root {
  --sky-blue-300: #3b82f6;
  --sky-blue-400: #2563eb;
  --sky-blue-500: #1e49af;
  --sky-blue-600: #1e3a8a;
  --dark-grey-100: #252525;
  --dark-grey-200: #3a3a3a;
  --white: #ffffff;
  --white-100: #e2e2e2;
  --black: #000;
}
