:root {
  --sky-blue-300: #3b82f6;
  --sky-blue-400: #2563eb;
  --sky-blue-500: #1e49af;
  --sky-blue-600: #1e3a8a;
  --dark-grey-100: #1f2937;
  --dark-grey-200: #374151;
  --dark-grey-300: #495568;
  --white: #f1f5f9;
  --white-100: #eee;
  --white-200: #cfcfcf;
  --black: #000;
  --card-shadow: #afafaf;
  --card-gradient: linear-gradient(
    125deg,
    rgba(9, 27, 56, 0.445) 0%,
    rgba(8, 8, 8, 0.534) 48%,
    rgba(1, 14, 46, 0.425) 100%
  );
  --card-gradient-alt: linear-gradient(
    125deg,
    rgba(9, 27, 56, 0.945) 0%,
    rgba(8, 8, 8, 0.934) 48%,
    rgba(1, 14, 46, 0.925) 100%
  );
  --card-gradient-light: linear-gradient(
    125deg,
    rgba(59, 130, 246, 1) 0%,
    rgba(30, 73, 175, 1) 48%,
    rgba(59, 130, 246, 1) 100%
  );
}
