@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@import "./nav.css";

@import "./root.css";

@import "./form.css";

@import "./home.css";

@import "./blog.css";

@import "./footer.css";

@import "./carousel.css";

@import "./darkMode.css";

@import "./skeleton.css";

@import "./blogPost.css";

@import "./edit.css";

@import "./about.css";

@import "./loader.css";

@import "./blogFeed.css";

@import "./mediaQuery.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--dark-grey-100);
  transition: 500ms ease;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

button {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

button:hover {
  background-color: var(--sky-blue-600);
  transition: 200ms ease;
}
